

<html>
<head>

  <meta charset="utf-8">

  <title>はなまっ！</title>

  <link rel="stylesheet" type="text/css" href="bootstrap3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/my_history_map.css">

  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB0HuGNOkJMH3EnJTnEZBTv_Ue7BQhree4"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script> <!-- with vue -->

  <script src="js/dataAdapter.js"></script>
  <script src="js/mapManager.js"></script>
  <script src="js/init.js"></script>

  <style>
  #contents{
    display: none;
  }
  #hana_map{
    width: 100%;
    height: 80%;
  }
  </style>

</head>

<!--
テーブル
  place info
    1箇所ごとの情報が格納されている
      ~~公園 みたいな単位

    place_id
    place_name 論理名
    pref_cd   県マスタに対応する
    lat       緯度(googleが解釈できる単位のもの)
    lng       経度
    rel_flowers flower-seasonテーブルへの外部キー


  flower-season info
    1箇所あたりに紐づく花情報が格納されている
      桜 4月上旬 みたいなどうやって表すかが問題
    ここの場所に、ここの花は、いつ見ごろかってこと

    place_id         (place infoのid)  上2つがキー
    flower_id   (flower infoのid)
    season     シーズン


  flower-info
    お花マスタ
    wikipediaへのリンクなんかもっていても面白いかもしれない


-->

<body>

  <div id="header" class="jumbotron">
    <div class="container">
      <h1>HaNaMa!! hana map</h1>
      <p>this is a webservice to know where to go in target season.</p>
      <button class="btn" onclick="pushStart()">Start</button>
    </div>
  </div>

  <div id="contents">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div id="hana_map" ></div>
        </div>
        <div id="detail_card" class="col-md-8">
          <h2>{{current.place_name}}</h2>
          <p>{{current.caption}}</p>
          <p><img v-attr="src:current.picture_url_1">
        </div>
      </div>

      <div id="hana_search_result" class="row">

        <input type="checkbox" id="single_marker" v-model="single_marker" />
        <label for="single_marker">with single marker</label>
        <button v-on:click="updateList">update!!</button>

        <ul>
          <li v-for="item in list" v-on:click="selectCard($index)">
            <p><span>{{item.place_id}}</span>:<span>{{item.place_name}}</span></p>
          </li>
        </ul>

      </div>

    </div>

  </div>

</body>
</html>
